@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

html {
  font-size: 16px !important;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 32px !important;
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 28px !important;
}

h3 {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 24px !important;
}

body {
  font-family: 'PT Sans', serif !important;
}

.bg-llight {
  background-image: url("/image/symphony.png") !important;
}

.logo {
  font-family: 'Playball', cursive !important;
  font-size: 36px !important;
}

.header .site-navbar .menu .menu-item-link {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 20px !important;
}

.mobile-menu .mobile-menu-list a {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 18px;
}

.post .post-header .post-link {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 38px !important;
}

.post .post-header .post-title {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 38px !important;
}

.post .post-toc .post-toc-title {
  font-size: 1.2em !important;
}
.post .post-content .read-more .read-more-link {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 18px !important;
}

.post .post-content code, .post .post-content pre {
  font-family: 'PT Mono', monospace !important;
  font-size: 14px !important;
}

.post .shortcode-notice p {
  font-size: 16px !important;
}

.post .post-footer .post-nav .prev, .post .post-footer .post-nav .next {
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 20px !important;
}

.footer .copyright {
  margin-bottom: 2.4em !important;
}

.post-reward .qr-code .qr-code-image {
  width:100% !important;
}

.archive .archive-post .archive-post-time {
  color: #8a8a8a;
  display: table-cell;
  width: 12em;
  vertical-align: middle;
}
